<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
    <div class="container">


        <div class="collapse fix-flex-grow navbar-collapse ms-auto" id="navbarNavDarkDropdown">
            <a class="dropdown-item" href="/books/create">Thêm Sách</a>
        </div>
    </div>
    </div>
</nav>
{{!-- Modal of logout --}}
<div id="logout-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng xuất?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn đăng xuất khỏi Epic Read?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ bỏ</button>
                <button type="button" id="button-logout" class="btn btn-danger">
                    <a href="/auth/logout">Đăng Xuất</a>
                </button>
            </div>
        </div>
    </div>
</div>